<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="http://webapi.amap.com/maps?v=1.4.6&key=e598f982202f82de4802cefed15fe8e5"></script>
    <script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="stylesheet" href="<%= BASE_URL %>font-awesome/css/font-awesome.min.css">
    <title>凌度车联网平台</title>
    <!-- 高德地图 -->
    <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=7d58a4fbd510354ad0bc0ce27f4df790"></script> 
    <!-- 百度地图 -->
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=wojpLEBGr3OHhcaTbRizBY1TPZz9GeqT"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but blackview-admin-web doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
